@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,400italic,700italic);

html {
   font-family: 'Alegreya Sans', sans-serif;
   overflow-y: scroll;
   font-size: 1.4em;
   background: white;
}
body {
   max-width: 1000px;
   margin: 0 auto;
}

header.page h1 {
   text-align: center;
   margin: .5em 0 0 0;
}

h1 {
   font-size: 1.6em;
   font-style: italic;
   font-weight: 700;
}

article {
   line-height: 1.3em;
}

article.standard,
.layout-left-column article,
article.blogpost .content {
   /*
      A line of text should not be too long
      like  but works good to get the after link on the
      right side of the page
   */
   box-sizing: border-box;
   max-width: 30em;
   width: 100%;
}

nav.sub, .layout-left-column article {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

article.sitemap {
   max-width: 100%;
}

article.standard,
.layout-left-column article,
article.blogpost > *,
nav.sub {
   padding: 0 .3em;
}
.layout-left-column article {
   padding: 0 .3em 0 .7em;
}



nav.sub {
   /*
    * This leaves 30em space for other content in the row
    * The article width is however 30em at the moment.
    */
   max-width: calc(100% - 30em);
   min-width: 12em;
   width:100%;
   background: #EEE;
   padding-bottom: 1em
}

nav.sub ul{
   margin: 0;
   padding: 0;
   list-style: inside;
}


article.standard,
article.blogpost > *{
   margin: 0 auto;
}


header.page{
   border-bottom: 3px solid black;
   position: relative;
   margin-bottom: 2.5em;
   font-size: .9em;
}
.layout-left-column header.page {
   margin-bottom: 1em;
}

footer.page{
   border-top: 3px solid black;
   padding: 1em 0;
   text-align: center;
   margin-top: 3em;
}

header.page a.connect {
   position: absolute;
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
   background: no-repeat;
   background-size: contain;
   width: 25px;
   height: 25px;
   margin: 10px 5px 0 0;
   right: 0;
}

header.page a.connect:hover {
   opacity: .5;
}

header.page a.github {

   background-image: url("GitHub-icon.svg");
}

header.page a.patreon {
   background-image: url("Patreon_icon.svg");
   top: 31px;
}

header.page a.gplus {
   background-image: url("Gplus-icon.svg");
   top: 60px;
}

header.page a.twitter {
   background-image: url("Twitter-icon.svg");
   top: 87px;
}

header.page a.feed {
   background-image: url("Feed-icon.svg");
   top: 116px;
}

header .main-menu ul,
header .main-menu li {
   display: inline-block;
   padding: 0;
   margin: 0;
}

header .main-menu a {
   text-decoration: none;
   display: inline-block;
   font-size: 1.3em;
   padding: .3em .5em;
   margin-right: .1em;

}

header .main-menu .top-level > li > a {
   background: black;
   color: white;
   font-weight: bold;
}
header .main-menu .top-level > li a:hover,
header .main-menu .sub-level li a:hover {
   background: grey;
   color: white;
}


header .main-menu .sub-level li a {
   background: white;
   color: black;
}


.active > a {
    font-weight: bold;
}
.main-menu .active > a,
header .main-menu .top-level > li.active > a {
    font-weight: 700;
    font-style: italic;
}

.blogpost nav.relative{
   height: 1.3em;
   position: relative;
}
.blogpost nav.relative.top {
   margin-top: -2em
}

hr {
   border: none;
}

hr,
.blogpost header {
   border-bottom: 1px solid black;
}


.sitemap .endpoint{
   display: inline-block;
   width: 50%;
   vertical-align: top;
   border-top: 1px solid black;
}

.sitemap .endpoint > ul {
   max-height: 15em;
   overflow-y: auto;
}

.sitemap .endpoint:nth-child(1),
.sitemap .endpoint:nth-child(2) {
   border-top: none;
}


.sitemap .endpoint:nth-child(2n+1){
    border-right: 1px solid black;
    box-sizing: border-box;
}

.sitemap .endpoint:nth-child(2n){
    border-left: 1px solid black;
    box-sizing: border-box;
    margin-left: -1px;
    padding-left: .5em;
}

.blogpost header {
   padding-bottom: 1em;
   margin-bottom: 1em;
}

.blogpost header h1{
   margin-bottom: .2em;
}

.blogpost header *:last-child{
      margin-bottom: 0;
}

.blogpost .summary:before {
   content: 'tl;dr';
   font-style: normal;
   font-weight: bold;
   display: block;
   font-size: 1.2em;
}

.blogpost .summary {
   font-style: italic;
}

.blogpost nav.relative a.next {
   position: absolute;
   right: 0;
}


blockquote {
    border-left: 5px solid lightgray;
    color: gray;
    font-style: italic;
    padding-left: 1em;
}

blockquote em, blockquote strong {
   color: black;
}

code, div.code-highlighted{
   font-family: monospace;
   background: #EEE;
}

code {
   padding: 0 .4em;
}

div.code-highlighted {
   overflow-x: auto;
}
