{% extends "base.html" %}
{% block title %}{{ title }} | {% if index_link_name %}{{index_link_name}} | {% endif%}Atem Tooling Expressive Models{% endblock %}

{% block head %}

<link rel="alternate" type="application/atom+xml"
      title="Atem-Project News Feed" href="{{url_for('news.feed')}}" />

<link rel="stylesheet" type="text/css"
      href="{{ url_for('files', filename='main.css') }}" />

{% endblock %}

{% macro sub_menu_items(entries, before='', after='') -%}
    {%- for entry in entries -%}
        {%set url, name, active = menu.getLink(entry[0], **(entry[1] or {})) %}
        {{before|safe}}<li class="{% if active %}active{% endif %}">
        <a href="{{url}}">{{entry[2] or name}}</a></li>{{after|safe}}
    {%- endfor -%}
{%- endmacro %}

{% block header %}

{% macro main_menu_items(entries, before='', after='') -%}
    {%- for entry, use_submenu, submenu in entries -%}
        {%set url, name, active = menu.getLink(entry[0], **(entry[1] or {})) %}
        {{before|safe}}<li class="{% if active %}active{% endif %}">
            <a href="{{url}}">{{name}}</a>
            </li><!--
            {%- if use_submenu and submenu -%}
             --><li class="sub-level"><ul><!--
                    {{- sub_menu_items(
                        submenu
                      , before='-->'
                      , after='<!--'
                    ) -}}
             --></ul></li><!--
            {%- endif -%}
            -->{{after|safe}}
    {%- endfor -%}
{%- endmacro %}
<header class="page">
        <a title="Atem-Project on GitHub"
           class="connect github" target="_blank"
           href="https://github.com/graphicore/Atem-Project"
           >Atem-Project on GitHub</a>
        <a title="@AtemProject on Twitter"
           class="connect twitter"
           target="_blank"
           href="https://twitter.com/AtemProject"
           >@AtemProject on Twitter</a>
        <a title="Subscribe to the News Feed"
           class="connect feed"
           href="{{url_for('news.feed')}}"
           >Subscribe to the  News Feed</a>
        <a title="Metapolator on Google+"
           class="connect gplus"
           target="_blank"
           href="https://plus.google.com/u/0/communities/110027004108709154749"
           >Metapolator on Google+</a>
        <a title="Atem-Projekt on Patreon"
           class="connect patreon"
           target="_blank"
           href="http://patreon.com/user?u=3557006"
           >Atem-Projekt on Patreon</a>


    <h1><a href="{{url_for('__root__:index')}}"><img style="width:240px;height:240px"
             class="logo"
             alt="Atem Tooling Expressive Models"
             src="{{ url_for('files', filename='Atem-Logo.svg') }}" /></a></h1>
    <nav class="main-menu">
        <ul class="top-level"><!--
            {{- main_menu_items(
                        (
                            (('__root__:index', None), user_menu, (
                                                      ('news:index', None, 'News')
                                                    , ('content/Vision:index', None)
                                                    , ('__root__', {'filename': 'support-us.md'}, 'Support Us')
                                                    , ('__root__', {'filename': 'collaborate.md'}, 'Collaborate')
                                                )
                            )
                          , (('content/Sub-Projects:index', None), docs_menu, (
                                                      ('content/Concepts:index', None)
                                                    , ('content/Proposals:index', None)
                                                    , ('content/Manuals:index', None)
                                                    , ('content/Proposals', {'filename': 'api-docs-generator.md'}, 'API')
                                                )
                            )
                          , (('__root__', {'filename': 'help.md'}), help_menu, [
                                                      ('sitemap.html', None)
                                                ]
                            )
                        )
                      , before='-->'
                      , after='<!--'
            ) -}}
        --></ul>
    </nav>
</header>
{% endblock %}
{% block body %}
<article class="standard {{ class }}">{{ content }}</article>
{% endblock %}
{% block footer %}
<footer class="page">
    {%-set url, name, active = menu.getLink('sitemap.html')-%}
    <a href="{{url_for('sitemap.html')}}">{{name}}</a>
    {% set url, name, active = menu.getLink('__root__', filename='impressum.md') %}
    <a href="{{url}}">{{name}}</a>
    © <a href="https://github.com/graphicore/Atem-Project">The Atem-Project Authors</a>
</footer>
{% endblock %}
