{% extends "base.html" %}
{% block title %}{{ title }} | Atem Tooling Expressive Models{% endblock %}
{% block head %}

<link rel="stylesheet" type="text/css"
      href="{{ url_for('files', filename='main.css') }}" />

{% endblock %}

{% macro sub_menu_items(entries, before='', after='') -%}
    {%- for entry in entries -%}
        {%set url, name, active = menu.getLink(entry[0], **(entry[1] or {})) %}
        {{before|safe}}<li class="{% if active %}active{% endif %}">
        <a href="{{url}}">{{entry[2] or name}}</a></li>{{after|safe}}
    {%- endfor -%}
{%- endmacro %}

{% block header %}

{% macro main_menu_items(entries, before='', after='') -%}
    {%- for entry, use_submenu, submenu in entries -%}
        {%set url, name, active = menu.getLink(entry[0], **(entry[1] or {})) %}
        {{before|safe}}<li class="{% if active %}active{% endif %}">
            <a href="{{url}}">{{name}}</a>
            </li><!--
            {%- if use_submenu and submenu -%}
             --><li class="sub-level"><ul><!--
                    {{- sub_menu_items(
                        submenu
                      , before='-->'
                      , after='<!--'
                    ) -}}
             --></ul></li><!--
            {%- endif -%}
            -->{{after|safe}}
    {%- endfor -%}
{%- endmacro %}

<header class="page">
    <h1><img class="logo" alt="Atem Tooling Expressive Models" src="{{ url_for('files', filename='Atem-Logo.svg') }}" /></h1>
    <nav class="main-menu">
        <ul class="top-level"><!--
            {{- main_menu_items(
                        (
                            (('__root__:index', None), user_menu, (
                                                      ('news:index', None, 'News')
                                                    , ('__root__', {'filename': 'vision.md'}, 'Vision')
                                                    , ('__root__', {'filename': 'contribute.md'}, 'Contribute')
                                                )
                            )
                          , (('__root__', {'filename': 'docs.md'}), docs_menu, (
                                                      ('content/Concepts:index', None)
                                                    , ('content/Proposals:index', None)
                                                    , ('content/Manuals:index', None)
                                                    , ('content/Proposals', {'filename': 'api-documentation-generator.md'}, 'API')
                                                )
                            )
                          , (('__root__', {'filename': 'help.md'}), help_menu, [
                                                      ('sitemap.html', None)
                                                ]
                            )
                        )
                      , before='-->'
                      , after='<!--'
            ) -}}
        --></ul>
    </nav>
</header>
{% endblock %}
{% block body %}
<article class="standard">{{ content }}</article>
{% endblock %}
{% block footer %}
<footer class="page">
    {%-set url, name, active = menu.getLink('sitemap.html')-%}
    <a href="{{url_for('sitemap.html')}}">{{name}}</a>
    {% set url, name, active = menu.getLink('__root__', filename='impressum.md') %}
    <a href="{{url}}">{{name}}</a>
    © <a href="https://github.com/graphicore/Atem-Project">The Atem-Project Authors</a>
</footer>
{% endblock %}
