@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,900,400italic,700italic,900italic);

html {
   font-family: 'Alegreya Sans', sans-serif;
   overflow-y: scroll;
}
body {
   max-width: 1000px;
   margin: 0 auto;
}

header.page h1 {
   text-align: center;
   margin: .5em 0 0 0;
}

h1 {
   font-weight: 900;
   letter-spacing: .02em;
   font-size: 1.6em;
}

article {
   line-height: 1.3em;
}

article.standard,
article.docs,
article.blogpost .content {
   /*
      A line of text should not be too long
      like  but works good to get the after link on the
      right side of the page
    */
   max-width: 40em;
}

article.sitemap {
   max-width: 100%;
}

article.standard,
article.docs,
article.blogpost > * {
   padding: 0 .3em;
}

header.page{
   border-bottom: 3px solid black;
}
footer.page{
   border-top: 3px solid black;
   padding: 1em 0;
   text-align: center;
   margin-top: 3em;
}


header.page h1 img.logo {
   width:220px
}

header .main-menu ul,
header .main-menu li {
   display: inline-block;
   padding: 0;
   margin: 0;
}

header .main-menu a {
   text-decoration: none;
   display: inline-block;
   font-size: 1.3em;
   padding: .3em .5em;
   margin-right: .1em;

}

header .main-menu .top-level > li > a {
   background: black;
   color: white;
   font-weight: bold;
}
header .main-menu .top-level > li a:hover,
header .main-menu .sub-level li a:hover {
   background: grey;
}


header .main-menu .sub-level li a {
   background: white;
   color: black;
}


.active > a {
    font-weight: bold;
}
.main-menu .active > a,
header .main-menu .top-level > li.active > a {
    font-weight: 900;
    letter-spacing: .01em;
}

.blogpost nav.relative{
   height: 1.3em;
   position: relative;
}

hr,
.blogpost header {
   border-bottom: 1px solid black;
}

.sitemap .endpoint{
   display: inline-block;
   width: 50%;
   vertical-align: top;
   border-top: 1px solid black;
}

.sitemap .endpoint > ul {
   max-height: 15em;
   overflow-y: auto;
}

.sitemap .endpoint:nth-child(1),
.sitemap .endpoint:nth-child(2) {
   border-top: none;
}


.sitemap .endpoint:nth-child(2n+1){
    border-right: 1px solid black;
    box-sizing: border-box;
}

.sitemap .endpoint:nth-child(2n){
    border-left: 1px solid black;
    box-sizing: border-box;
    margin-left: -1px;
    padding-left: .5em;
}

.blogpost header {
   padding-bottom: 1em;
   margin-bottom: 1em;
}

.blogpost header h1{
   margin-bottom: .2em;
}

.blogpost header *:last-child{
      margin-bottom: 0;
}

.blogpost .summary:before {
   content: 'tl;dr';
   font-style: normal;
   font-weight: bold;
   display: block;
   font-size: 1.2em;
}

.blogpost .summary {
   font-style: italic;
}

.blogpost nav.relative a.next {
   position: absolute;
   right: 0;
}
